<div class="row form-row background-transparent">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="col-xs-4">
      <% if @user.errors.any? %>
        <div class="row error-row">
          <div class="col-xs-12">
            <%#= devise_error_messages! %>
            <%= render 'shared/errors', obj: @user %>
          </div><!--col-xs-12-->
        </div><!--row-->
      <% end %>
    </div>
    
    <div class="col-xs-4">
      <div class="form-group">
        <%= f.label :name, 'Nombre', class: "top-ten white" %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :surname, 'Apellido', class: "white" %>
        <%= f.text_field :surname, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :birth, 'Fecha de Nacimiento', class: "white" %>
        <%= f.date_field :birth, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <%= f.radio_button :male, true, checked: true %>
            <%= f.label :male_true, 'Masculino', class: "white" %>
          </div>
          <div class="col-xs-6">
            <%= f.radio_button :male, false %>
            <%= f.label :male_false, 'Femenino', class: "white" %>
          </div>
        </div>
      </div>
    
      <div class="form-group">
        <%= f.label :email, class: "white" %>
        <%= f.email_field :email, class: "form-control", placeholder: 'nombre@dominio.com' %>
      </div>
    
      <div class="form-group">
        <%= f.label(:password, @user.new_record? ? 'Contraseña' : 'Contraseña (Dejarlo en blanco si no la quiere cambiar)', class: "white") %>
        <% if @minimum_password_length %>
          <em class="white">(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password_confirmation, 'Confirmar Contraseña', class: "white" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
      
      <% unless @user.new_record? %>
        <div class="form-group white">
          <%= f.label :current_password, 'Contraseña Actual' %>
          <i>(Necesitamos tu contraseña actual para poder realizar los cambios)</i>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
        </div>
      <% end %>
      
      <% if @user.new_record? and current_user and current_user.counter < 3 %>
        <%= f.check_box :signatory %>
        <%= f.label :signatory, "Elegir como firmante", class: "white" %>
      <% end %>
      
      <% if current_user %>
        <% if current_user.counter == 1 %>
          <%= f.hidden_field :counter, value: 2 %>
        <% elsif current_user.counter == 2 %>
          <%= f.hidden_field :counter, value: 3 %>
        <% end %>
      <% end %>
      
      <% unless current_user %>
        <%= f.hidden_field :signatory, value: true %>
        <%= f.hidden_field :counter, value: 1 %>
      <% end %>
    
      <div class="actions">
        <% if current_user and current_user.counter == 1 %>
          <%= f.submit(@user.new_record? ? "Crear Administrador" : "Actualizar Perfil", class: "btn btn-default bottom-ten") %>
        <% elsif current_user and current_user.counter == 2 %>
          <%= f.submit(@user.new_record? ? "Crear Usuario" : "Actualizar Perfil", class: "btn btn-default bottom-ten") %>
        <% else %>
          <%= f.submit(@user.new_record? ? "Registrarse" : "Actualizar Perfil", class: "btn btn-default bottom-ten") %>
          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div><!--col-xs-4-->
  <% end %>
  
  <% unless @user.new_record? %>
    <div align="center" class="col-xs-4 quick-regular white" style="margin-top: 400px;">
      <h3>Cancelar mi Cuenta</h3>
        <p>
          Inconforme? <%= button_to "Cancelar mi Cuenta", registration_path(resource_name),
                          data: { confirm: "¿Estás seguro de querer eliminar tu cuenta?" },
                          method: :delete, class: "btn btn-danger" %>
        </p>
    </div>
  <% end %>
</div><!--row form-row background-transparent-->