<div class="row user-show">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 align="center" class="quick-light white">
            <%= "¡Bienvenido, #{current_user.name}!" %>
          </h1>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1 left-col quick-regular white">
        <h2 align="center">Datos Personales</h2>
        <h4>Nombre: <%= current_user.name %></h4>
        <h4>Apellido: <%= current_user.surname %></h4>
        <h4>Correo: <%= current_user.email %></h4>
        <a role="button" data-toggle="collapse" href="#collapsePhones"
           aria-expanded="false" aria-controls="collapsePhones"
           class="no-decoration"
        >
          <h4 class="white quick-regular">
            Teléfonos:
          </h4>
        </a>
        <div class="collapse" id="collapsePhones">
            <% if !current_user.phones.empty? %>
              <% current_user.phones.each do |phone| %>
                <p>
                  <%= "#{phone.type}: #{phone.number}" %> |
                  <%= link_to 'Eliminar', {:controller => :users,
                        :action => 'destroy_phone', :id => phone.id},
                        :method => :delete,
                        class: "red",
                        data: {confirm: "¿Quieres eliminar ese número?"} %>
                </p>
              <% end %>
            <% end %>
            <% if current_user.phones.count < 5 %>
              <p>Agregar Nuevo:</p>
              <%= form_for @phone, :url => {:action => "create_phone"} do |f| %>
                <div class="form-group">
                  <%= f.text_field :number, class: "form-control" %>
                </div>
                <div class="form-group">
                  <%= f.radio_button :type, 'Local', :checked => true %>
                  <%= f.label :type_local, 'Local' %>
                  <%= f.radio_button :type, 'Móvil' %>
                  <%= f.label :type_movil, 'Móvil' %>
                  <%= f.radio_button :type, 'Trabajo' %>
                  <%= f.label :type_trabajo, 'Trabajo' %>
                </div>
                <%= f.submit "Agregar", class: 'btn btn-default' %>
              <% end %>
            <% end %>
        </div>
        <h4><%= link_to 'Editar Perfil', edit_user_registration_path, class: "white quick-regular" %></h4>
      </div><!--col-xs-4 col-xs-offset-1 show-left-col quick-regular white-->
      
      <div class="col-xs-4 col-xs-offset-2 right-col quick-regular white">
        <h2 align="center">Detalles de Usuario</h2>
        <% if current_user.counter == 1 %>
          <h3 align="center">Cliente Principal</h3>
          <h4>Tus Administradores:</h4>
          <% current_user.children.each do |admin| %>
            <a class="no-decoration quick-regular white" role="button"
              data-toggle="collapse" href="#collapse<%= admin.id %>" 
              aria-expanded="false" aria-controls="collapse<%= admin.id %>"
            >
              <h4>
                <%= "#{admin.name} #{admin.surname}" %>.
                <small class="white">Sus usuarios:</small>
              </h4>
            </a>
            <div class="collapse" id="collapse<%= admin.id %>">
              <% i = 1 %>
              <% admin.children.each do |secundario| %>
                <p><%= "#{i}) #{secundario.name} #{secundario.surname}" %></p>
                <% i += 1 %>
              <% end %>
            </div>
          <% end %>
        <% elsif current_user.counter == 2 %>
          <h3 align="center">Administrador</h3>
          <h4>Tus Usuarios:</h4>
          <% current_user.children.each do |user| %>
            <h4>
              <%= "#{user.name} #{user.surname}" %>
            </h4>
          <% end %>
        <% else %>
          <h3>Usuario Secundario</h3>
        <% end %>
        <% if current_user.counter < 3 %>
          <h4><%= link_to 'Crear Usuario', new_user_registration_path, class: "white quick-regular" %></h4>
        <% end %>
      </div><!--col-xs-4 col-xs-offset-2 show-right-col quick-regular white-->
    </div><!--row-->
  </div><!--col-xs-12-->
</div><!--row-->