<div class="row form-row background-transparent ">
  <%= form_for @product do |f| %>
    <div class="col-xs-4">
      <% if @product.errors.any? %>
        <div class="row error-row">
          <div class="col-xs-12">
            <%= render 'shared/errors', obj: @user %>
          </div><!--col-xs-12-->
        </div><!--row-->
      <% end %>
    </div>
  
    <div class="col-xs-4 white">
      <div class="form-group">
        <%= f.label :nombre, 'Nombre', class: "top-ten white" %>
        <%= f.text_field :nombre, autofocus: true, class: "form-control", placeholder: "Ej. Tarjeta de Compras" %>
      </div>
      
      <div class="form-group">
        <%= f.label :vigencia, 'Fecha de Vencimiento' %>
        <%= f.date_field :vigencia, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :emision, 'Fecha de Emisión' %>
        <%= f.date_field :emision, class: "form-control" %>
      </div>
      
      <div class="form-group">
        <%= f.label :tipo, 'Tipo de Producto' %>
        <%= f.text_field :tipo, class: "form-control", placeholder: "Ej. Tarjeta de Crédito" %>
      </div>
      
      <div class="form-group">
        <%= f.label :saldo, 'Su Saldo' %>
        <%= f.number_field :saldo, class: "form-control" %>
      </div>
      
      <div class="actions">
        <%= f.submit(@product.new_record? ? "Agregar" : "Actualizar", class: "btn btn-default bottom-ten") %>
      </div>
    </div>
  <% end %>
</div><!--row-->