<div class="row approval-index">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 align="center" class="quick-regular white">
            Aprueba Operaciones o asígnalas.
          </h1>
        </div>
      </div><!--col-xs-12-->
    </div><!--row-->
    
    <div class="row quick-regular white" style="margin-bottom: 20px;">
      <div class="col-xs-8 col-xs-offset-2 center-col">
        <% if current_user.counter < 3 %>
          <h2 align="center">
            <%= link_to "> Crear y Asignar Niveles de Aprobación <",
                new_approval_level_path, class: "no-decoration white" %>
          </h2>
        <% end %>
      </div>
    </div>
    
    <div class="row quick-regular white">
      <div class="col-xs-4 col-xs-offset-1 left-col">
        <% if current_user.signatory %>
          <% i = 0 %>
          <h2 align="center">Firmas Pendientes</h2>
          <% current_user.signers.each do |signer| %>
            <% if signer.approval_level.aprobado == false %>
              <% user_ope_levels = [] %>
              <% @operations.each do |operation| %>
                <% operation.ope_levels.each do |ope_level| %>
                  <% if ope_level.approval_level_id == signer.approval_level.id %>
                    <% user_ope_levels << ope_level %>
                  <% end %>
                <% end %>
              <% end %>
              <h3>
                <a class="no-decoration white" data-toggle="collapse" href="#approval<%= signer.id %>" aria-expanded="false" aria-controls="approval<%= signer.approval_level.id %>">
                  <%= signer.approval_level.nombre %>
                </a>
                <div class="collapse" id="approval<%= signer.id %>">
                  <div class="well black">
                    <%= signer.approval_level.descripcion %><br>
                    <% if user_ope_levels[i] %>
                      <%= "Operación: #{user_ope_levels[i].operation.nombre}" %>
                    <% end %>
                    <% i += 1 %>
                    <%# user_ope_levels.each do |user_ope_level| %>
                      <%# puts user_ope_level.operation.nombre %>
                      <%# if user_ope_level.approval_level_id == signer.approval_level.id %>
                      <%#= user_ope_level.operation.nombre %>
                      <%# end %>
                    <%# end %>
                    <%= button_to "Aprobar", signer.approval_level, method: :put,
                        class:'btn btn-success' %>
                  </div>
                </div>
              </h3>
            <% end %>
          <% end %>
          <h2 align="center">Firmas Aprobadas</h2>
          <% current_user.signers.each do |signer| %>
            <% if signer.approval_level.aprobado %>
              <h3>
                <a class="no-decoration white" data-toggle="collapse" href="#approval<%= signer.id %>" aria-expanded="false" aria-controls="approval<%= signer.approval_level.id %>">
                  <%= signer.approval_level.nombre %>
                </a>
                <div class="collapse" id="approval<%= signer.id %>">
                  <div class="well black">
                    <%= signer.approval_level.descripcion %>
                  </div>
                </div>
              </h3>
            <% end %>
          <% end %>
        <% end %>
      </div>
      
      <div class="col-xs-5 col-xs-offset-1 right-col">
        <% if current_user.counter < 3 %>
          <h2 align="center">Usuarios Firmantes</h2>
          <% current_user.children.each do |admin| %>
            <% if admin.signatory %>
              <h3>
                <%= "#{admin.name} #{admin.surname}" %>
              </h3>
            <% end %>
          <% end %>
          
          <% if current_user.counter == 1 %>
            <% current_user.children.each do |admin| %>
              <% admin.children.each do |user| %>
                <% if user.signatory %>
                  <h3>
                    <%= "#{user.name} #{user.surname}" %>
                  </h3>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div><!--row-->
  </div>
</div><!--row approval-index-->