<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Base de Datos I', root_path, class: "navbar-brand" %>
    </div>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li><%= link_to(content_tag(:span, '', class: "glyphicon glyphicon-user") + ' Mi Perfil', profile_path) %></li>
        <li><%= link_to(content_tag(:span, '', class: "glyphicon glyphicon-credit-card") + ' Mis Productos', products_path) %></li>
        <li><%= link_to(content_tag(:span, '', class: "glyphicon glyphicon-check") + ' Roles', roles_path) %></li>
        <li><%= link_to(content_tag(:span, '', class: "glyphicon glyphicon-lock") + ' Seguridad', security_path) %></li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><%= link_to(content_tag(:span, '', class: "glyphicon glyphicon-log-out") + ' Cerrar Sesión',
                destroy_user_session_path, method: :delete) %></li>
      <% end %>
    </ul>
  </div>
</nav>