<div class="row operation-allocation">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-12">
        <div class="page-header">
          <h1 align="center" class="quick-regular white">
            Asigna las Operaciones a los Roles que quieras.
          </h1>
        </div>
      </div><!--col-xs-12-->
    </div><!--row-->
    
    <%= form_tag("/operation_allocate", method: "post") do %>
      <% i = 0 %>
      <div class="row quick-regular white form-row background-transparent" style="margin-bottom: 20px;">
        <div class="col-xs-4 col-xs-offset-1">
          <% if current_user.counter == 1 %>
            <h2 align="center">Tus Operaciones</h2>
            <% current_user.user_opes.each do |user_ope| %>
              <h3>
                <%= check_box_tag("operation" + user_ope.operation.id.to_s, user_ope.operation.id) %>
                <%= label_tag("operation" + user_ope.operation.id.to_s,
                              "#{user_ope.operation.nombre}") %>
              </h3>
              <% i += 1 %>
            <% end %>
          <% end %>
        </div>
        
        <div class="col-xs-4 col-xs-offset-2">
          <h2 align="center">Los Roles</h2>
          <% current_user.user_roles.each do |user_role| %>
            <h3>
              <%= check_box_tag("role" + user_role.role.id.to_s, user_role.role.id) %>
              <%= label_tag("role" + user_role.role.id.to_s, user_role.role.nombre) %>
            </h3>
          <% end %>
          <% if current_user.counter == 1 %>
            <% current_user.children.each do |admin| %>
              <% admin.user_roles.each do |admin_role| %>
                <% if admin_role.asignado == false %>
                  <h3>
                    <%= check_box_tag("role" + admin_role.role.id.to_s, admin_role.role.id) %>
                    <%= label_tag("role" + admin_role.role.id.to_s, admin_role.role.nombre) %>
                  </h3>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div><!--row quick-regular white-->
    
      <div class="row">
        <div class="col-xs-2 col-xs-offset-5 background-transparent border-rounded">
          <br>
          <%= submit_tag "Asignar", class: "btn btn-default btn-block" %>
          <br>
        </div>
      </div>
    <% end %>
  </div>
</div>